---
layout: layouts/base
title: 11d.im
---
h1 11d.im

h2 notices
ul
  each note in collections.notices
    li
      a(href=note.url) !{note.data.title}

h2 passages
ul
  each highlight in collections.highlights
    li
      a(href=highlight.url) !{ highlight.data.title }
      .
        &nbsp;• !{ highlight.data.author.first } !{ highlight.data.author.middle } !{ highlight.data.author.last }
