extends ./base.pug

block content
  -
    const day = (page.date.getDate()).toString().padStart(2, '0')
    const month = (page.date.getMonth()+1).toString().padStart(2, '0')
    const year = page.date.getFullYear()
    var prettyDate = `${day}.${month}.${year}`

  article
    block article
      h1 !{ filters.md(title) }
      p.subtitle #{ prettyDate }
      if source
        p
          a(href=`${source}`) source
     
      section !{ filters.toc(content) }
     
      section !{ content }
