doctype html
html
  head
    link(rel="stylesheet" href="/css/tufte.css")
  body
<<<<<<< HEAD
    block content
      article !{content}
||||||| merged common ancestors
    include ../parts/header.pug
    h1(class="f1") !{title}
    div(class="lh-copy measure") !{content}
=======
    include ../parts/header.pug

    block content
      div(class="fl w-90")
        h1(class="f1") !{title}
        div(class="lh-copy measure-wide") !{content}
>>>>>>> 04c2ac4e47489a525fae786df902c98ba7ed6b74
